<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- CSS do projeto -->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Companhia do Cavalo - Equoterapia e Equitação</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
  </head>
  <body>
    <!-- Cabeçalho -->
    <header id="main-banner">
      <div class="header-top">
        <ul class="nav-container-navbar">
          <li><i class="fa-solid fa-phone"></i> (22)99957-1928</li>
          <li><i class="fa-solid fa-phone"></i> (22)99906-5748</li>
          <li><i class="fa-solid fa-location-dot"></i>
            Estrada de São Vicente, KM 8, Banqueiros, Araruama</li>
        </ul>
      </div>
      <div class="nav-container">
        <a href="#" class="brand">
          <img
            src="./img/logotipo-companhia-do-cavalo.png"
            alt="Companhia do Cavalo"
          />
          <span>Companhia do Cavalo</span>
        </a>
        <nav>
          <ul class="nav-container-navbar">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Equoterapia</a>
            </li>
            <li>
              <a href="#">Equitação</a>
            </li>
            <li>
              <a href="#">Trabalho Social</a>
            </li>
            <li>
              <a href="#">Contato</a>
            </li>
          </ul>
        </nav>
        <i class="fas fa-bars"></i>
      </div>
      <div class="title-container">
        <h2>Agende uma aula experimental de</h2>
        <h1>Equoterapia ou Equitação</h1>
        <a href="#" class="btn btn-primary btn-rounded">Agendar</a>
      </div>
    </header>
    {{{body}}}
    <!-- Footer -->
    <footer>
      <div class="footer-container">
        <div class="footer-desc-container">
          <h3 class="footer-title">Sobre a Companhia do Cavalo</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
            quibusdam obcaecati dolorem libero, dolor eveniet, pariatur tenetur
            quisquam dicta nulla facilis impedit ad omnis magnam iusto ipsam
            architecto! Recusandae, dolore?</p>
        </div>
        <div class="footer-links-container">
          <div class="footer-links-container-list">
            <p class="footer-title">Como Chegar</p>
            <p>Sentido Araruama para São Vicente, depois da Via Lagos, primeira entrada à direita, antes do sinal eletrênico.</p>
          </div>
          <div class="footer-links-container-list">
            <p class="footer-title">Links</p>
            <ul>
              <li>
                <a href="#">Equoterapia</a>
              </li>
              <li>
                <a href="#">Equitação</a>
              </li>
              <li>
                <a href="#">Trabalho Social</a>
              </li>
              <li>
                <a href="#">Contato</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-copy-right-container">
          <p>&copy; 2022 Companhia do Cavalo</p>
          <p>Desenvolvido por <a href="" target="_blank">Rodrigo Paluma</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>