<!-- Serviços -->
<main class="services-container">
  <h2>Equoterapia e Equitação</h2>
  <p>Apropriado para crianças, jovens e adultos com ou sem necessidades especiais. Aprenda a desenvolver respeito, socialização, concentração, confiança, harmonia, equilíbrio, disciplina e ainda relaxe.</p>
  <div class="services-card-container">
    <div class="services-card">
      <i class="fa-solid fa-horse"></i>
      <h3>Terapia</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        harum tempore eaque aliquid. Asperiores quisquam voluptas praesentium
        doloribus expedita ea non sunt, distinctio possimus, consequuntur
        laudantium dicta officiis dignissimos odit.</p>
    </div>
    <div class="services-card">
      <i class="fa-solid fa-hat-cowboy-side"></i>
      <h3>Esporte</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        harum tempore eaque aliquid. Asperiores quisquam voluptas praesentium
        doloribus expedita ea non sunt, distinctio possimus, consequuntur
        laudantium dicta officiis dignissimos odit.</p>
    </div>
    <div class="services-card">
      <i class="fa-solid fa-face-smile"></i>
      <h3>Lazer</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        harum tempore eaque aliquid. Asperiores quisquam voluptas praesentium
        doloribus expedita ea non sunt, distinctio possimus, consequuntur
        laudantium dicta officiis dignissimos odit.</p>
    </div>
  </div>
  <a href="#" class="btn btn-primary btn-rounded">Veja todos os Benefícios</a>
</main>
<!-- Jobs -->
<div class="jobs-container">
  <h2>Alguns de nossos ajudantes</h2>
  <div class="jobs-list">
    <div class="first-job" id="job1">
      <div class="job-card-cover">
        <p class="job-card-title">Pimenta</p>
        <p class="job-card-description">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Cumque amet maxime nostrum quaerat. Nihil officia
          similique excepturi voluptas perspiciatis, odit veritatis cum, dolores
          adipisci deserunt deleniti nemo repellendus optio eius.</p>
      </div>
    </div>
    <div class="other-jobs-container">
      <div class="job-card" id="job2">
        <div class="job-card-cover">
          <p class="job-card-title">Dogum</p>
          <p class="job-card-description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Cumque amet maxime nostrum quaerat. Nihil officia
            similique excepturi voluptas perspiciatis, odit veritatis cum,
            dolores adipisci deserunt deleniti nemo repellendus optio eius.</p>
        </div>
      </div>
      <div class="job-card" id="job3">
        <div class="job-card-cover">
          <p class="job-card-title">Murano</p>
          <p class="job-card-description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Cumque amet maxime nostrum quaerat. Nihil officia
            similique excepturi voluptas perspiciatis, odit veritatis cum,
            dolores adipisci deserunt deleniti nemo repellendus optio eius.</p>
        </div>
      </div>
      <div class="job-card" id="job4">
        <div class="job-card-cover">
          <p class="job-card-title">Louro</p>
          <p class="job-card-description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Cumque amet maxime nostrum quaerat. Nihil officia
            similique excepturi voluptas perspiciatis, odit veritatis cum,
            dolores adipisci deserunt deleniti nemo repellendus optio eius.</p>
        </div>
      </div>
      <div class="job-card" id="job5">
        <div class="job-card-cover">
          <p class="job-card-title">Charllote</p>
          <p class="job-card-description">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Cumque amet maxime nostrum quaerat. Nihil officia
            similique excepturi voluptas perspiciatis, odit veritatis cum,
            dolores adipisci deserunt deleniti nemo repellendus optio eius.</p>
        </div>
      </div>
    </div>
  </div>
</div>